@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav {
    margin-left: 40px;
  }
  .advantage-box {
    width: 100%;
  }
  .utility-card-wrapper {
    column-count: 3;
  }
  .app-section-img {
    right: -285px;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-app {
    margin-left: 0;
    margin-top: 30px;
    display: flex;
    width: 100%;
    max-width: initial;
    p {
      display: none;
    }
    .app-icon-wrapper {
      display: flex;
      margin-top: 0;
    }
  }
  .app-icon-wrapper .footer-app-icon + .footer-app-icon {
    margin-top: 0;
    margin-left: 15px;
  }
  .close-menu-box {
    margin-right: 40px;
  }
  .menu-box-body {
    padding-left: 81px;
  }
  .menu-box-bottom {
    padding-left: 81px;
  }
  .menu-box-body {
    flex-wrap: wrap;
  }
  .socials {
    width: 100%;
    max-width: initial;
    margin-top: 70px;
    display: flex;
  }
  .socials-app {
    margin-top: 0;
    margin-left: 50px;
  }
  .app-section {
    overflow: hidden;
  }
  .calc-aside {
    width: 20%;
    min-width: initial;
  }
  .calc-content .tab-content {
    width: 75%;
  }
  .useful-item {
    padding: 20px;
  }
  .insurance-instruction-item {
    width: calc(25% - 24px);
  }
  .insurance-result-form {
    padding: 24px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .main-nav {
    display: none;
  }
  .advantage-box {
    width: 100%;
  }
  .utility-card-wrapper {
    column-count: 2;
  }
  .app-section-img {
    display: none;
  }
  .header-top-nav {
    display: none;
  }
  .close-menu-box {
    margin-right: 41px;
  }
  .menu-box-head {
    flex-wrap: wrap;
  }
  .menu-box-head .right-side {
    margin-top: 30px;
    padding-left: 81px;
  }
  .menu-box-body {
    margin-top: 60px;
    padding-left: 81px;
  }
  .menu-box-nav a {
    font-size: 24px;
  }
  .menu-box-nav li + li {
    margin-top: 15px;
  }
  .menu-box-body {
    flex-wrap: wrap;
  }
  .menu-box {
    padding: 40px 30px 60px 30px;
  }
  .menu-box-nav a {
    line-height: 30px;
  }
  .nav-xs li + li {
    margin-top: 10px;
  }
  .socials {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
  }
  .socials-app {
    margin-top: 40px;
  }
  .menu-box-bottom {
    padding-left: 81px;
    display: block;
    margin-top: 40px;
  }
  .menu-box-bottom .left-side {
    max-width: 100%;
  }
  .menu-box-bottom .right-side {
    margin-top: 15px;
    max-width: 100%;
  }
  .padding-x {
    padding-left: 30px;
    padding-right: 30px;
  }
  .promo {
    padding-top: 30px;
  }
  .title-xl {
    font-size: 45px;
    line-height: 120%;
  }
  .promo-offer-item svg {
    width: 30px;
    height: 30px;
  }
  .promo-offer {
    display: block;
    padding-top: 15px;
  }
  .promo-offer-item {
    width: 100%;
    margin: 10px 0;
  }
  .insurance-slider-tabs a {
    font-size: 20px;
    padding-bottom: 6px;
  }
  .insurance-slider-tabs a.active {
    border-bottom: 2px solid #fff;
  }
  .slider-arrows a {
    width: 40px;
    height: 40px;
  }
  .slider-arrows li + li {
    margin-left: 10px;
  }
  .insurance-slider .slider-card {
    width: 280px;
    min-height: 300px;
  }
  .insurance-slider .slider-card-img {
    height: 240px;
  }
  .partners {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .tender {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tender-btn {
    margin-top: 20px;
  }
  .tender-slider {
    margin-top: 30px;
  }
  .tender-card {
    width: 280px;
    min-height: 300px;
    padding: 15px;
  }
  .tender-card-img {
    height: 180px;
  }
  .tender-card h6 {
    font-size: 22px;
    line-height: 120%;
  }
  .offer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title-md {
    font-size: 40px;
    line-height: 120%;
  }
  .faq {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .faq-wrapper {
    margin-top: 20px;
  }
  .faq-item {
    width: calc(50% - 24px);
  }
  .faq-item h6 {
    font-size: 24px;
    line-height: 120%;
  }
  .faq-item p {
    margin-top: 10px;
  }
  .app-section {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
    background-size: 350px 220px;
  }
  .app-section-caption {
    width: 100%;
  }
  footer {
    padding-top: 30px;
  }
  .footer-top {
    display: block;
  }
  .footer-social {
    width: 100%;
  }
  .footer-social-nav {
    margin-top: 20px;
  }
  .footer-nav-wrapper {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
  .footer-nav li + li {
    margin-top: 10px;
  }
  .footer-app {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    display: flex;
  }
  .footer-app p {
    display: none;
  }
  .footer-app .app-icon-wrapper {
    display: flex;
  }
  .app-icon-wrapper .footer-app-icon + .footer-app-icon {
    margin-top: 0;
    margin-left: 15px;
  }
  .footer-bottom {
    display: block;
  }
  .footer-bottom .left-side {
    width: 100%;
  }
  .footer-bottom .right-side {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .insurance-slider-content {
    margin-right: -30px;
  }
  .tender-slider {
    margin-right: -60px;
  }
  .partner-slider {
    margin-right: -30px;
  }
  .contact-info-box a {
    font-size: 28px;
    line-height: 120%;
  }
  .contact-info-box .content a + a {
    margin-top: 5px;
  }
  .contact-info-box p {
    font-size: 28px;
    line-height: 120%;
  }
  .contact-map {
    height: 400px;
  }
  .calc-content {
    display: block;
  }
  .calc-content .tab-content {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }
  .calc {
    padding-bottom: 60px;
  }
  .calc-content-info {
    display: none;
  }
  .insurance-form-top {
     display: block;
  }
  .insurance-form-notice {
    margin-left: 0;
    margin-top: 10px;
    width: fit-content;
    max-width: fit-content;
  }
  .insurance-form {
    padding: 25px;
    margin-top: 25px;
  }
  .insurance-instruction-item {
    width: calc(25% - 24px);
  }
  .tariff-wrapper {
    padding-top: 50px;
  }
  .tariff-card-img {
    height: 200px;
  }
  .tariff-card-caption {
    padding: 15px;
  }
  .title-sm {
    font-size: 24px;
    line-height: 120%;
  }
  .tariff-card-price {
    font-size: 30px;
    line-height: 120%;
    margin-top: 8px;
  }
  .tariff-card-info {
    padding: 15px;
  }
  .compare-th-left {
    padding: 7px 0;
  }
  .compare-th-right .compare-td {
    padding: 7px 0;
  }
  .compare-th {
    min-height: 40px;
  }
  .compare-title {
    min-height: 40px;
    padding: 7px 0 7px 33.3%;
  }
  .compare-tr-left {
    padding: 7px 8px;
  }
  .compare-tr-right .compare-td {
    padding: 7px 8px;
  }
  .insurance-advantage {
    margin-top: 40px;
  }
  .insurance-advantage-content .item svg {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .insurance-advantage-content .item p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }
  .useful {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .useful-item {
    padding: 15px;
  }
  .useful-item p {
    font-size: 20px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .callback {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .callback-form {
    flex-direction: column;
  }
  .callback-form .form-label {
    margin-left: auto;
  }
  .callback-form .btn-main {
    margin-left: auto;
    margin-top: 15px;
  }
  .insurance-form .btn-main {
    margin-top: 15px;
  }
  .insurance-result-form {
    padding: 24px;
  }
  .insurance-result-body {
    display: block;
  }
  .insurance-result-form .btn-main {
    margin-top: 15px;
  }
  .insurance-result-item .insurance-name p {
    font-size: 20px;
    line-height: 120%;
    margin-left: 10px;
  }
  .result-container-top .left-side {
    width: 60%;
  }
  .insurance-result-item .left-side {
    width: 60%;
  }
  .result-container-top .right-side {
    width: 40%;
  }
  .insurance-result-item .right-side {
    width: 40%;
  }
  .insurance-result-item .insurance-time p {
    font-size: 14px;
    white-space: nowrap;
  }
  .insurance-result-item .insurance-cost p {
    font-size: 14px;
  }

}


@media (min-width: 320px) and (max-width: 767px) {
  .header-top {
    display: none;
  }
  .padding-x {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-nav {
    display: none;
  }
  .link-personal-account span {
    display: none;
  }
  .call-callback {
    display: none;
  }
  .call-xs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
  }
  .main-logo-xs {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-left: 16px;
  }
  .main-logo-xs img {
    height: 19px;
    width: auto;
  }
  .link-personal-account {
    margin-left: 16px;
  }
  .promo {
    padding-top: 24px;
    padding-bottom: 150px;
    background-size: 180px 112px!important;
    display: block;
  }
  .promo-title {
    width: 100%;
  }
  .title-xl {
    font-size: 24px;
    line-height: 32px;
  }
  .promo-content {
    margin-left: 0;
    width: 100%;
  }
  .promo-offer {
    margin: 24px -8px 0 -8px;
    padding-top: 0;
  }
  .promo-offer-item {
    display: block;
  }
  .promo-offer-item svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .promo-offer-item p {
    margin-left: 0;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
  }
  .promo-btn {
    margin-top: 24px;
  }
  .promo-btn .btn-white {
    padding: 11px 12px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
  .promo-btn .btn-border {
    padding: 9px 12px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
  .menu-box {
    padding: 16px;
    top: 56px!important;
    max-height: calc(100% - 56px);
    height: calc(100% - 56px);
  }
  .menu-box-head {
    display: block;
  }
  .close-menu-box {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .search-container input {
    order: 1;
  }
  .search-container input::placeholder {
    font-size: 16px;
    line-height: 100%
  }
  .search-container input {
    line-height: 100%;
    margin-left: 0;
    margin-right: 10px;
    display: none;
  }
  .search-btn {
    order: 2;
    margin-left: auto;
  }
  .search-container {
    min-height: 24px;
    border-bottom: none;
    flex: 1;
  }
  .search-container.active {
    border-bottom: 1px solid #6F7893;
    input {
      display: block;
    }
  }
  .menu-box-head .right-side {
    margin-top: 20px;
  }
  .menu-box-head .link-personal-account {
    margin-left: 0;
    order: 1;
  }
  .menu-box-head .link-personal-account span {
    display: block;
  }
  .menu-box-head .call-callback {
    display: block;
    order: 2;
  }
  .menu-box-body {
    margin-top: 30px;
    padding-left: 0;
    display: block;
  }
  .menu-box-nav {
    width: 100%;
  }
  .menu-box-nav li + li {
    margin-top: 6px;
  }
  .menu-box-nav a {
    font-size: 24px;
    line-height: 30px;
  }
  .nav-xs-wrapper {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .nav-xs a {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-xs-wrapper .nav-xs-container + .nav-xs-container {
    margin-left: 16px;
  }
  .menu-box-body .socials {
    max-width: initial;
    margin-left: 0;
    margin: 40px -8px 0 -8px;
    display: flex;
  }
  .socials-app {
    order: 1;
    width: calc(50% - 16px);
    margin: 0 8px;
  }
  .socials-app p {
    font-size: 14px;
    line-height: 18px;
  }
  .app-wrapper .app-icon {
    max-width: 164px;
    max-height: 48px;
  }
  .socials-media {
    order: 2;
    width: calc(50% - 16px);
    margin: 0 8px;
  }
  .social-media-phone {
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
  }
  .social-media-mail {
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
  }
  .social-media-nav {
    margin: 8px -8px 0 -8px;
  }
  .social-media-nav li + li {
    margin: initial;
  }
  .social-media-nav li:first-child {
    margin: initial;
  }
  .social-media-nav li {
    margin: 8px!important;
  }
  .menu-box-bottom {
    margin-top: 40px;
    padding-left: 0;
    display: block;
  }
  .menu-box-bottom .left-side {
    width: 100%;
    max-width: 100%;
  }
  .menu-box-bottom .right-side {
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
  }
  .menu-box-bottom p {
    font-size: 14px;
    line-height: 18px;
    color: #6F7893;
  }
  .header-bottom {
    min-height: 56px;
  }
  .insurance-slider-tabs a {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 6px;
  }
  .insurance-slider-tabs a.active {
    border-bottom: 2px solid #fff;
  }
  .slider-arrows-wrapper {
    display: none;
  }
  .insurance-slider-content {
    margin-right: -15px;
  }
  .insurance-slider-tabs li + li {
    margin-left: 12px;
  }
  .title-md {
    font-size: 24px;
    line-height: 32px;
  }
  .partners {
    margin-top: 64px;
    padding-bottom: 64px;
  }
  .partner-slider {
    margin-top: 16px;
    margin-right: -15px;
  }
  .partner-slider-item img {
    max-height: 33px;
  }
  .partner-slider-item {
    margin: 0 6px;
  }
  .tender {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .tender-left h6 {
    font-size: 14px;
    line-height: 18px;
  }
  .tender-left .title-xl {
    margin-top: 12px;
  }
  .tender-left p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
  }
  .tender-btn {
    margin-top: 20px;
  }
  .btn-main {
    min-height: 40px;
    padding: 11px 12px;
    font-size: 14px;
    line-height: 18px;
  }
  .tender-btn a {
    width: calc(50% - 8px);
  }
  .tender-btn .btn-border {
    padding: 9px 12px;
    min-height: 40px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 16px;
  }
  .tender-right {
    margin-top: 40px;
  }
  .tender .row {
    width: calc(100% + 30px);
  }
  .tender-slider {
    margin-right: -15px;
  }
  .offer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .offer-card {
    width: 254px;
    min-height: 354px;
    padding: 16px;
  }
  .offer-card-top h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .offer-card-body {
    margin-top: 16px;
  }
  .offer-btn {
    font-size: 18px;
    line-height: 24px;
    min-height: 40px;
    padding: 7px 12px;
  }
  .advantage-box-wrapper {
    display: block;
    margin: 12px 0 0 0;
  }
  .advantage-box {
    width: 100%;
    margin: 4px 0;
    min-height: 134px;
    padding: 12px;
  }
  .advantage-box-number {
    font-size: 14px;
    line-height: 18px;
  }
  .advantage-box-caption h1 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
  }
  .advantage-box-caption p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
  }
  .advantage-box-img {
    width: 120px;
    height: 134px;
  }
  .advantage {
    padding-bottom: 64px;
  }
  .utility-card-wrapper {
    column-count: 2;
    margin-top: 16px;
  }
  .utility-card {
    margin: 0;
    padding: 12px;
  }
  .utility-card-category {
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
    min-height: 24px;
  }
  .utility-card-body {
    margin-top: 8px;
  }
  .utility-card-body h6 {
    font-size: 14px;
    line-height: 18px;
  }
  .utility-card-body p {
    font-size: 12px;
    line-height: 16px;
  }
  .faq {
    margin-top: 64px;
    padding-bottom: 64px;
  }
  .faq-wrapper {
    margin: 16px 0 0 0;
    display: block;
  }
  .faq-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .faq-wrapper .faq-item + .faq-item {
    margin-top: 16px;
  }
  .faq-item h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .faq-item p {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
  }
  .app-section {
    display: none;
  }
  footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-top {
    display: block;
  }
  .footer-nav-wrapper {
    display: none;
  }
  .footer-social {
    width: 100%;
  }
  .footer-social-phone {
    font-size: 24px;
    line-height: 32px;
  }
  .footer-social-mail {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
  }
  .footer-social-nav {
    margin-top: 24px;
  }
  .footer-app {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    max-width: 100%;
  }
  .app-icon-wrapper {
    display: flex;
  }
  .footer-app-icon {
    width: 164px;
    height: 48px;
  }
  .app-icon-wrapper .footer-app-icon + .footer-app-icon {
    margin-top: 0;
    margin-left: 15px;
  }
  .footer-bottom {
    margin-top: 40px;
    display: block;
  }
  .footer-bottom .left-side {
    width: 100%;
  }
  .footer-bottom .right-side {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
  }
  .footer-bottom p {
    font-size: 14px;
    line-height: 18px;
  }
  .fixed-social-nav {
    display: none;
  }
  .about-promo {
    padding-top: 24px;
    padding-bottom: 24px;
    min-height: 145px;
    background-size: 180px 112px!important;
  }
  .about-promo-title h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .about-promo-title p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
  }
  .about-promo-tab .nav a {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 6px;
  }
  .about-promo-tab .nav a.active {
    border-bottom: 2px solid #fff;
  }
  .about header {
    top: 0!important;
  }
  .about-content {
    padding-top: 24px;
    padding-bottom: 64px;
  }
  .about-mission-text p {
    font-size: 18px;
    line-height: 24px;
  }
  .about-mission-text p + p {
    margin-top: 24px;
  }
  .about-team .marker-list li {
    font-size: 18px;
    line-height: 24px;
  }
  .about-team .marker-list {
    padding-left: 22px;
  }
  .contact {
    padding-top: 16px;
    padding-bottom: 64px;
  }
  .contact-tab {
    margin: 16px 0 0 0;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .contact-tab a {
    white-space: nowrap;
  }
  .contact .tab-content {
    margin-top: 28px;
  }
  .contact-info {
    display: block;
  }
  .contact-info-left {
    width: 100%;
  }
  .contact-info-box span {
    font-size: 14px;
    line-height: 18px;
  }
  .contact-info-box a {
    font-size: 24px;
    line-height: 32px;
  }
  .contact-info-box .content {
    margin-top: 12px;
  }
  .contact-info-box .content a + a {
    margin-top: 16px;
  }
  .contact-info-right {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  .contact-info-box p {
    font-size: 24px;
    line-height: 32px;
  }
  .contact-map {
    margin: 40px -15px 0 -15px;
    height: 400px;
    width: initial;
  }
  .calc {
    padding-top: 16px;
    padding-bottom: 37px;
  }
  .calc-content {
    display: block;
  }
  .calc-content .tab-content {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
  }
  .calc-content-info {
    display: none;
  }
  .calc-aside {
    width: 100%;
  }
  .calc-box {
    padding: 16px;
  }
  .calc-box-title {
    font-size: 14px;
    line-height: 18px;
  }
  .calc-box .radio-box {
    margin-top: 16px;
  }
  .radio-container {
    font-size: 14px;
    line-height: 18px;
    padding-left: 27px;
  }
  .radio-container .checkmark {
    width: 18px;
    height: 18px;
  }
  .radio-container .checkmark:after {
    width: 11px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .calc-box .radio-box .radio-container + .radio-container {
    margin-left: 24px;
  }
  .calc-box-body {
    display: block;
    margin-top: 16px;
    padding-bottom: 24px;
  }
  .calc-box-body .left-side {
    width: 100%;
  }
  .calc-box-body .right-side {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }
  .calc-box-body .right-side .checkbox-form {
    margin-top: 12px;
  }
  .calc-box-bottom .right-side span {
    font-size: 12px;
    line-height: 16px;
  }
  .calc-box-bottom .right-side p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px;
  }
  .calc-aside a {
    padding: 10px 12px;
  }
  .modal-content {
    width: 90%!important;
    max-height: 80vh;
    overflow-y: auto;
  }
  .insurance-promo {
    padding-top: 16px;
  }
  .insurance-instruction {
    margin: 16px -8px 0 -8px;
  }
  .insurance-instruction-item {
    width: calc(50% - 16px);
    margin: 8px;
  }
  .insurance-instruction-item p {
    font-size: 14px;
    line-height: 18px;
  }
  .insurance-form {
    margin-top: 24px;
    padding: 16px;
  }
  .insurance-form-top {
    flex-direction: column;
  }
  .insurance-form .form-label-wrapper {
    flex-direction: column;
  }
  .insurance-form .form-label {
    width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
  .insurance-form .form-label-detail {
    width: 100%;
    margin-right: 0;
  }
  .insurance-form .form-label-detail .form-label {
    margin-top: 0;
  }
  .insurance-form .btn-main {
    margin-top: 16px;
    width: 100%;
  }
  .insurance-form .insurance-form-notice {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .tariff-wrapper {
    padding-top: 64px;
  }
  .title-sm {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .tariff-title p {
    font-size: 14px;
    line-height: 18px;
  }
  .tariff-card-wrapper {
    flex-direction: column;
    box-shadow: none;
  }
  .tariff-card {
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  }
  .tariff-card-img {
    height: 240px;
  }
  .tariff-card-caption {
    padding: 16px 24px;
  }
  .tariff-card-caption span {
    font-size: 14px;
    line-height: 18px;
  }
  .tariff-card-price {
    margin-top: 9px;
    font-size: 36px;
    line-height: 45px;
  }
  .tariff-card-caption .btn-main {
    margin-top: 9px;
    min-height: 48px;
  }
  .tariff-card-wrapper .tariff-card + .tariff-card {
    margin-top: 16px;
  }
  .tariff-compare {
    margin-top: 16px;
  }
  .compare-th {
    display: none;
  }

  .compare-title {
    padding: 8px;
  }
  .compare-tr {
    flex-direction: column;
  }
  .compare-body .compare-tr-left {
    width: 100%;
    border-right: none;
    padding: 8px;
    justify-content: center;
    border-bottom: 1px solid #E0E0E2;
  }
  .compare-body .compare-tr-left p {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .compare-tr-right {
    width: 100%;
  }
  .compare-tr-right .compare-td {
    padding: 8px;
    flex-direction: column;
  }
  .compare-tr-right .compare-td + .compare-td {
    border: none;
  }
  .tariff-name-xs {
    display: block;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #6F7893;
    margin-bottom: 4px;
  }
  .compare-tr-right .compare-td.text {
    justify-content: flex-start;
  }
  .compare-tr-right .compare-td.text p {
    font-size: 10px;
    line-height: 110%;
  }
  .tariff-compare-toggle p {
    font-size: 14px;
    line-height: 18px;
  }
  .tariff-compare-toggle svg {
    width: 12px;
    height: 5px;
  }
  .insurance-advantage {
    margin-top: 64px;
  }
  .insurance-advantage-content {
    margin: 8px -8px 0 -8px;
  }
  .insurance-advantage-content .item {
    flex-direction: column;
    margin: 8px;
  }
  .insurance-advantage-content .item svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .insurance-advantage-content .item p {
    margin-left: 0;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
  }
  .useful {
    margin-top: 64px;
    padding-bottom: 64px;
  }
  .useful-box {
    margin: 16px 0 0 0;
    flex-direction: column;
  }
  .useful-box .useful-item + .useful-item {
    margin-top: 8px;
  }
  .useful-item {
    margin: 0;
    width: 100%;
    padding: 12px;
  }
  .useful-item p {
    font-size: 18px;
    line-height: 24px;
    max-width: 80%;
  }
  .callback {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
  }
  .callback-left {
    width: 100%;
  }
  .callback-right {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
    display: block;
  }
  .callback-form {
    display: block;
  }
  .callback-form .form-label {
    width: 100%;
    max-width: 100%;
  }
  .callback-form .btn-main {
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }
  .loading-content {
    max-width: 100%;
    padding: 0 16px;
  }
  .loading-progress {
    height: 16px;
    margin-top: 24px;
  }
  .loading-content p {
    margin-top: 40px;
    font-size: 14px;
    line-height: 18px;
  }
  .insurance-result-inner .title-sm.xs {
    display: block;
    text-align: center;
  }
  .insurance-result-form {
    margin-top: 24px;
    padding: 16px;
  }
  .insurance-result-form .insurance-result-title {
    display: none;
  }
  .insurance-result-body {
    display: block;
    margin-top: 0;
  }
  .insurance-result-body .form-label-wrapper {
    display: block;
  }
  .insurance-result-form .form-label-detail {
    width: 100%;
    margin-right: 0;
  }
  .insurance-result-body .form-label-wrapper .form-label {
    width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
  .insurance-result-form .form-label-detail .form-label {
    margin-top: 0;
  }
  .insurance-result-form .btn-main {
    margin-top: 16px;
    width: 100%;
  }
  .insurance-result-form .insurance-form-notice {
    margin-top: 16px;
    width: 100%;
    max-width: 100%;
  }
  .insurance-result-container {
    margin-top: 24px;
  }
  .result-container-top {
    display: none;
  }
  .result-container-body {
    margin-top: 0;
  }
  .insurance-result-item {
    padding: 16px;
    display: block;
  }
  .insurance-result-item .left-side {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .insurance-result-item .insurance-name p {
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
  }
  .insurance-result-item .right-side {
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
  }
  .insurance-result-container .insurance-cost {
    margin-left: 0;
    justify-content: flex-start;
  }
  .insurance-result-item .insurance-cost p {
    margin-left: 0;
  }
  .insurance-result-btn {
    margin-left: 0;
  }
  .insurance-result-item .insurance-result-btn button {
    min-width: 120px;
  }
  .insurance-result {
    padding-bottom: 64px;
  }
  .insurance-result-item .insurance-name {
    align-items: flex-start;
  }



}



@media (max-width: 320px) {

}









